body{
    background-color: rgb(220, 221, 221);
}
.tombol{
    border-radius: 10px;
    width: 50px;
    height: 20px;
}
#isi{
    width: 90%;
    margin-right: 20px;
    height: auto;
    border-radius: 8px;
}
