body {
  padding: 20px;
  margin-right: 100px;
  margin-left: 100px;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(bg.jpg);
 
}
@media (max-width: 768px) {
    body { 
      padding: 10px;
      margin: 0px;
      }
}
#bungkus{
  padding: 20px;
  margin-right: 100px;
  margin-left: 100px;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f7f5f5;
  border-radius: 10px;
}
@media (max-width: 768px) {
  #bungkus{
    margin: 15px;
  }
}

#jawab {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; /* supaya prepend terlihat naik */
  padding: 10px, 10px, 10px, 10px;
}



textarea {
  width: 80%;
  height: auto;
  padding: 10px;
  resize: none;
  background-color: black;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: 10px;
  font-size: 10px;
}

@media (max-width: 768px) {
  textarea {
    width: 10px;
    height: 1px;
    font-size: 7px;
  }
}

.pesan {
  background-color: rgb(17, 19, 17);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 50%;
  align-self: flex-start;
  color: white;
}


.soal1 {
  background-color: rgb(12, 12, 12);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 50%;
  align-self: flex-end;
  color: white;
}

button{
  padding: 10px, 20px;
  margin-top: 5px;
  margin-left: 5px;
  height: 25px;
  background-color: rgb(85, 80, 80);
  color: rgb(252, 249, 249);
  border: none;
  border-radius: 180%;
  
}

@media (max-width: 768px) {
  button{
    height: 15px;
    font-size: 5px;
  }
}

#container {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20PX;
  border-radius: 10PX;
  background-color: black;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 768px) {
  #container{
    padding-bottom: 20px;
  }
}